@model List<Usuarios>

<h1>Usuários cadastrados no sistema</h1>
<p class="text-danger"> @ViewData["mensagem"]</p>
<table class="table">
    <thead>
        <tr>
            <th scope="row">Nome</th>
            <th scope="row">Login</th>
            <th scope="row">Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Login</td>
                <td>@(u.Tipo == TipoUsuario.ADMIN ? "Administrador" : "Padrão")</td>
                <td><a href="editarUsuario?id=@u.Id">editar</a></td>
                <td><a href="ExcluirUsuario?id=@u.Id">excluir</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="RegistrarUsuarios">Registrar novo usuário</a>
